PORT=3001
HOST=0.0.0.0
NODE_ENV=development

BETEXPLORER_BASE_URL=https://www.betexplorer.com

REQUEST_TIMEOUT_MS=20000
SCRAPE_TIMEOUT_MS=30000

HEADLESS=true
ENABLE_PLAYWRIGHT_FALLBACK=true
ENABLE_RESOURCE_BLOCKING=true

BROWSER_MAX_PAGES=3
SCRAPER_CONCURRENCY=3

MATCH_LIST_TTL_SECONDS=120
MATCH_DETAILS_TTL_SECONDS=300
STANDINGS_TTL_SECONDS=900
H2H_TTL_SECONDS=3600
TEAM_RESULTS_TTL_SECONDS=1800
TEAM_FIXTURES_TTL_SECONDS=600
TEAM_PROFILE_TTL_SECONDS=900

ENABLE_PERFORMANCE_LOGS=true
